<h1><%= @department.name %></h1>


<form class="" action="/departments/<%= @department.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="dep_name">Name</label>
    <input type="text" name="dep_name" class="form-control">
  </div>
  <br><button type="submit" name="button" class="btn">Update Department Name</button>
</form>
<br>

<form class="" action="/departments/<%= @department.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <div class="form-group">
    <button type="submit" name="button" class="btn">Delete</button>
  </div>
</form>

<form class="" action="/employee" method="post">
  <input type="hidden" name="dep_id" value="<%= @department.id %>">
  <div class="form-group">
    <label for="employee">Employee Name</label>
    <input type="text" name="name" class="form-control" >
  </div>
  <button type="submit" name="button" class="btn">Add Employee</button>
</form>

<br>

<% if @employees.any? %>
  <% @employees.each do |employee| %>
    <ul>
      <li><a href="/employees/<%= employee.id %>"> <%= employee.name %> </a></li>
    </ul>
  <% end %>
<% else %>
  <p>Currently there are no employees.</p>
<% end %>
<br>


<h5><a href="/">Home</a></h5>
